name: 'kitti'
dataset_dir: '/workdir/ljh/datasets/Kitti/object'
data_split: 'trainval'
data_split_dir: 'training'
has_labels: True

cluster_split: 'train',
classes: ['Car']
num_clusters: [1]

kitti_utils_config {
    area_extents: [-40, 40, -5, 3, 0, 70]
    voxel_size: 0.1
    anchor_strides: [0.5, 0.5]

    label_seg_config {
        expand_gt_size: 0.2
    }
}
