# Example cars config
# For each experiment, copy this config and modify the copy

model_config {
    model_name: 'rpn_model'
    alternating_training_step: 1
    checkpoint_name: 'rpn_cars_alt_1'

    input_config {
        pc_sample_pts: 16384
        pc_data_dim: 3
        use_extra_features: False
        with_normal_feature: False
        
        pc_sample_pts_variance: 0.125
        pc_sample_pts_clip: 0.25
    }

    rpn_config {
        rpn_proposal_roi_crop_size: 256
        rpn_fusion_method: 'mean'
        
        rpn_train_nms_size: 300
        rpn_train_nms_iou_thresh: 0.8
        rpn_test_nms_size: 100
        rpn_test_nms_iou_thresh: 0.8

        rpn_xz_search_range: 3
        rpn_xz_bin_len: 0.5
        # in fraction of PI
        rpn_theta_search_range: 1.0
        rpn_theta_bin_num: 12
    }

    avod_config {
        avod_proposal_roi_crop_size: 256
        avod_positive_selection: 'not_bkg'
        avod_nms_size: 100
        avod_nms_iou_thresh: 0.01
        avod_box_representation: 'box_4ca'

        avod_xz_search_range: 1.5
        avod_xz_bin_len: 0.5
        # in fraction of PI
        avod_theta_search_range: 0.25
        avod_theta_bin_len: 10

        avod_pooling_context_length: 1.0
    }

    label_smoothing_epsilon: 0.001
    # To disable path drop, set both to 1.0
    # path_drop_probabilities: [0.9, 0.9]
    train_on_all_samples: False
    eval_all_samples: False

    layers_config {
        pc_feature_extractor {
            pc_pointcnn {
                sampling: 'fps'
                with_X_transformation: True
                with_global: True
                sorting_method: ''
                # XConv layer [K, D, P, C, links]
                xconv_layer {
                  xconv_param: [8, 1, -1, 256]
                }
                xconv_layer { 
                  xconv_param: [8, 1, 4096, 256]
                }
                xconv_layer { 
                  xconv_param: [8, 1, 1024, 512]
                }
                xconv_layer { 
                  xconv_param: [8, 1, 256, 1024]
                }
                xconv_layer { 
                  xconv_param: [8, 1, 64, 1024]
                }
          
                # XDConv layer [K, D, pts_layer_idx, qrs_layer_idx]
                xdconv_layer {
                  xdconv_param: [8, 1, 4, 4]
                }
                xdconv_layer {
                  xdconv_param: [8, 1, 4, 3]
                }
                xdconv_layer {
                  xdconv_param: [8, 1, 3, 2]
                }
                xdconv_layer {
                  xdconv_param: [8, 1, 2, 1]
                }
                xdconv_layer {
                  xdconv_param: [8, 1, 1, 0]
                }
                xdconv_layer {
                  xdconv_param: [8, 1, 0, 0]
                }

                # FCLayer [C, dropout_rate]
                fc_layer {
                    C: 256
                    dropout_rate: 0.0
                }
                fc_layer {
                    C: 256
                    dropout_rate: 0.5
                }
            }
        }

        rpn_config {
            fc_layer {
                C: 512
                dropout_rate: 0.5
            }
            fc_layer {
                C: 512
                dropout_rate: 0.5
            }
        }
        avod_config {
            # basic_fc_layers {
            #     num_layers: 3
            #     layer_sizes: [2048, 2048, 2048]
            #     l2_weight_decay: 0.005
            #     keep_prob: 0.5
            #     fusion_method: 'mean'  # 'mean' or 'concat'
            # }
            fusion_fc_layers {
                num_layers: 3
                layer_sizes: [2048, 2048, 2048]
                l2_weight_decay: 0.005
                keep_prob: 0.5
                fusion_method: 'mean'  # 'mean', 'concat', or 'max'
                fusion_type: 'early'  # 'early', 'late', 'deep'
            }
        }
    }

    # Loss function weights
    loss_config {
        seg_loss_weight: 100.0
        cls_loss_weight: 1.0
        reg_loss_weight: 1.0
        ang_loss_weight: 1.0
    }
}

train_config {

    batch_size: 1

    optimizer {
        adam_optimizer {
            learning_rate {
                exponential_decay_learning_rate {
                    initial_learning_rate: 0.0002
                    decay_steps: 30000
                    decay_factor: 0.8
                }
            }
        }
    }

    overwrite_checkpoints: False

    max_checkpoints_to_keep: 1000
    max_iterations: 120000
    checkpoint_interval: 2000

    summary_interval: 10
    summary_histograms: True
    summary_img_images: False
    summary_pc_images: True

    allow_gpu_mem_growth: True
}

eval_config {
    batch_size: 1
    eval_interval: 2000
    eval_mode: 'val'
    ckpt_indices: -1
    evaluate_repeatedly: False

    allow_gpu_mem_growth: True
    kitti_score_threshold: 0.05
}

dataset_config {
    name: 'kitti'

    dataset_dir: '/data/ljh/HeteroFusion/dataset/Kitti/object'
    # data_split: 'train'

    data_split_dir: 'training'
    has_labels: True

    cluster_split: 'train'
    classes: ['Car']
    num_clusters: [1]

    pc_source: 'lidar'
    aug_list: ['']

    kitti_utils_config {
        area_extents: [-40, 40, -5, 3, 0, 70]
        voxel_size: 0.1
        anchor_strides: [0.5, 0.5]

        label_seg_config {
            expand_gt_size: 0.2
        }
    
        mini_batch_config {
            density_threshold: 1

            rpn_config {
                iou_2d_thresholds {
                   neg_iou_lo: 0.0
                   neg_iou_hi: 0.3
                   pos_iou_lo: 0.5
                   pos_iou_hi: 1.0
                }
                # iou_3d_thresholds {
                #     neg_iou_lo: 0.0
                #     neg_iou_hi: 0.3
                #     pos_iou_lo: 0.4
                #     pos_iou_hi: 1.0
                # }

                mini_batch_size: 512
            }

            avod_config {
                iou_2d_thresholds {
                    neg_iou_lo: 0.0
                    neg_iou_hi: 0.55
                    pos_iou_lo: 0.65
                    pos_iou_hi: 1.0
                }

                mini_batch_size: 1024
            }
        }
    }
}
