# This config is used for model unit tests

model_name: 'avod_model'
checkpoint_name: 'unittest_model'

input_config {
    pc_sample_pts: 2048
    pc_data_dim: 3
    use_extra_features: False
    with_normal_feature: False
    
    pc_sample_pts_variance: 0.125
    pc_sample_pts_clip: 0.25
}

rpn_config {
    rpn_proposal_roi_crop_size: 128
    rpn_fusion_method: 'mean'
    rpn_train_nms_size: 128
    rpn_test_nms_size: 128
    rpn_nms_iou_thresh: 0.8
}

avod_config {
    avod_proposal_roi_crop_size: 128
    avod_positive_selection: 'corr_cls'
    avod_nms_size: 128
    avod_nms_iou_thresh: 0.1
    avod_box_representation: 'box_4ca'
}

label_smoothing_epsilon: 0.001
expand_proposals_xz: 0.0
#path_drop_probabilities: [0.5, 0.5]
train_on_all_samples: False
eval_all_samples: False

layers_config {
    pc_feature_extractor {
        pc_pointcnn {
            sampling: 'fps'
            with_X_transformation: True
            with_global: True
            sorting_method: ''
            # XConv layer [K, D, P, C, links]
            xconv_layer {
              xconv_param: [8, 1, -1, 256]
            }
            xconv_layer { 
              xconv_param: [12, 2, 768, 256]
            }
            xconv_layer { 
              xconv_param: [16, 2, 384, 512]
            }
            xconv_layer { 
              xconv_param: [16, 6, 128, 1024]
            }
      
            # XDConv layer [K, D, pts_layer_idx, qrs_layer_idx]
            xdconv_layer {
              xdconv_param: [16, 6, 3, 3]
            }
            xdconv_layer {
              xdconv_param: [16, 6, 3, 2]
            }
            xdconv_layer {
              xdconv_param: [12, 6, 2, 1]
            }
            xdconv_layer {
              xdconv_param: [8, 6, 1, 0]
            }
            xdconv_layer {
              xdconv_param: [8, 4, 0, 0]
            }
        }
    }
    #img_feature_extractor {
    #    img_vgg {
    #        vgg_conv1: [2, 8]
    #        vgg_conv2: [2, 16]
    #        vgg_conv3: [3, 32]
    #        vgg_conv4: [3, 64]
    #        upsampling_multiplier: 1

    #        l2_weight_decay: 0.0005
    #    }
    #}
    rpn_config {
        cls_fc6 : 16
        cls_fc7 : 16

        reg_fc6 : 16
        reg_fc7 : 16

        l2_weight_decay: 0.001
        keep_prob: 0.5
    }
    avod_config {
        fusion_fc_layers {
                 num_layers: 2
                 layer_sizes: [32, 32]
                 l2_weight_decay: 0.005
                 keep_prob: 0.5
                 fusion_method: 'mean'  # 'mean' or 'concat'
                 fusion_type: 'early'
        }
    }
}

# Loss function weights
loss_config {
    reg_loss_weight: 10.0
    ang_loss_weight: 10.0
    cls_loss_weight: 5.0
}
