# This config is used for model unit tests

model_name: 'avod_model'
checkpoint_name: 'unittest_model'

input_config {
    pc_sample_pts: 2048
    pc_data_dim: 3
    use_extra_features: False
    with_normal_feature: False
    
    pc_sample_pts_variance: 0.125
    pc_sample_pts_clip: 0.25
}

rpn_config {
    rpn_fusion_method: 'mean'
    
    rpn_train_nms_size: 300
    rpn_train_nms_iou_thresh: 0.85
    rpn_test_nms_size: 100
    rpn_test_nms_iou_thresh: 0.8
    
    rpn_xz_search_range: 3
    rpn_xz_bin_len: 0.5
    # in fraction of PI
    rpn_theta_search_range: 1.0
    rpn_theta_bin_num: 12
}

avod_config {
    avod_proposal_roi_crop_size: 128
    avod_positive_selection: 'corr_cls'
    avod_nms_size: 128
    avod_nms_iou_thresh: 0.1
    avod_box_representation: 'box_4ca'
    
    avod_xz_search_range: 1.5
    avod_xz_bin_len: 0.5
    # in fraction of PI
    avod_theta_search_range: 0.25
    avod_theta_bin_len: 10

    avod_pooling_context_length: 1.0
    
    mini_batch_config {
        cls_iou_3d_thresholds {
             neg_iou_lo: 0.0
             neg_iou_hi: 0.45
             pos_iou_lo: 0.60
             pos_iou_hi: 1.0
        }
        reg_iou_3d_thresholds {
             neg_iou_lo: 0.0
             neg_iou_hi: 0.55
             pos_iou_lo: 0.55
             pos_iou_hi: 1.0
        }
    }
}

label_smoothing_epsilon: 0.001
#path_drop_probabilities: [0.5, 0.5]
train_on_all_samples: False
eval_all_samples: False

layers_config {
    pc_feature_extractor {
        pc_pointcnn {
            sampling: 'fps'
            with_X_transformation: True
            with_global: True
            sorting_method: ''
            # XConv layer [K, D, P, C, links]
            xconv_layer {
              xconv_param: [8, 1, -1, 256]
            }
            xconv_layer { 
              xconv_param: [12, 2, 768, 256]
            }
            xconv_layer { 
              xconv_param: [16, 2, 384, 512]
            }
            xconv_layer { 
              xconv_param: [16, 6, 128, 1024]
            }
      
            # XDConv layer [K, D, pts_layer_idx, qrs_layer_idx]
            xdconv_layer {
              xdconv_param: [16, 6, 3, 3]
            }
            xdconv_layer {
              xdconv_param: [16, 6, 3, 2]
            }
            xdconv_layer {
              xdconv_param: [12, 6, 2, 1]
            }
            xdconv_layer {
              xdconv_param: [8, 6, 1, 0]
            }
            xdconv_layer {
              xdconv_param: [8, 4, 0, 0]
            }
        }
    }
    #img_feature_extractor {
    #    img_vgg {
    #        vgg_conv1: [2, 8]
    #        vgg_conv2: [2, 16]
    #        vgg_conv3: [3, 32]
    #        vgg_conv4: [3, 64]
    #        upsampling_multiplier: 1

    #        l2_weight_decay: 0.0005
    #    }
    #}
    rpn_config {
        fc_layer {
            C: 512
            dropout_rate: 0.5
        }
        fc_layer {
            C: 512
            dropout_rate: 0.5
        }
    }
    avod_config {
        mlp {
            C: 256
            dropout_rate: 0.5
        }
        mlp {
            C: 256
            dropout_rate: 0.5
        }
        pc_feature_extractor {
            pc_pointcnn {
                sampling: 'fps'
                with_X_transformation: True
                with_global: True
                sorting_method: ''
                # XConv layer [K, D, P, C, links]
                xconv_layer {
                  xconv_param: [4, 1, -1, 512]
                }
                xconv_layer { 
                  xconv_param: [8, 1, 128, 512]
                }
                xconv_layer { 
                  xconv_param: [12, 1, 32, 1024]
                }
                xconv_layer { 
                  xconv_param: [12, 1, 8, 1024]
                }
            }
        }
        fc_layer {
            C: 256
            dropout_rate: 0.5
        }
        fc_layer {
            C: 256
            dropout_rate: 0.5
        }
    }
}

# Loss function weights
loss_config {
    reg_loss_weight: 10.0
    ang_loss_weight: 10.0
    cls_loss_weight: 5.0
}
